.Fruits {
  border: solid;
  color: white;
  width: 400px;
  height: 550px;
}

.Desc1 {
  color: white;
}

body {
  background-color: #282b31;
}

.button {
  color: white;
  border: solid;
  background-color: grey;
}
